@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    width: 100%;
}


footer {
    background-color: #40dbc4;
}

footer h3 {
    color: white;
}

.top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0px !important;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent !important;
    color: black;
    cursor: pointer;
    padding: 0;
    font-size: 50px;
    color: #1d4d46 !important;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}


/* Rules for sizing the icon. */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}


/* Rules for using icons as black on a light background. */

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Rules for using icons as white on a dark background. */

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

hr {
    font-weight: bold !important;
    color: black;
}

.top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 0px !important;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent !important;
    color: black;
    cursor: pointer;
    padding: 0;
    font-size: 40px;
    color: #1d4d46 !important;
}